<!DOCTYPE html>
<html>
  <head>
    <title>Xtravision</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
  <br><br><br>

  <header class = "navbar navbar-fixed-top " >
    <div class = "container"
      
      <nav>
        <ul class = "nav navbar-nav navbar-right" >
          <% if !signed_in? %>
			<%= link_to "Sign In", login_path %>
			<% else %>
			Hi <%= @current_user.name %></li>
			<%= link_to "Sign Out", logout_path %>
		  <% end %>
		  <%= link_to "Git Hub", 'https://github.com/' %>
		  <%= link_to "Home", root_path %>
		  <%= mail_to "C15347186@mydit.ie", "Contact Us" %>
        </ul>
      </nav>
    </div>
  </header>

   <% flash.each do |key, value| %>
	<div class ="flash <%= key %>">
		<%= value %>
	</div>
  <% end %>
  <br>	<br> <br>

    <%= yield %>
  </body>
</html>
